# Tell pip to look for every package here first
nats-py>=2.10
torch==2.7.*                # CPU-only wheel is automatically chosen
torchvision
protobuf
pynvml
lightning
requests
lintrunner
lintrunner_adapters