# Tell pip to look for every package here first
--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple   # fall back for everything else

nats-py>=2.10
torch==2.7.*                # CPU-only wheel is automatically chosen
torchvision
protobuf
grpc_tools
pynvml
lightning
requests
lintrunner
lintrunner_adapters